develop/library/api/wsdl/Import_6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="https://checkout.buckaroo.nl/PaymentEngine/2011/10/TransactionRequest/Fault/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://checkout.buckaroo.nl/PaymentEngine/2011/10/TransactionRequest/Fault/">
  <xs:element name="Errors" nillable="true" type="tns:RequestError"/>
  <xs:complexType name="RequestError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ElementError" nillable="true" type="tns:ElementError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementError">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Name" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>