develop/library/api/wsdl/Import_15.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="https://checkout.buckaroo.nl/PaymentEngine/2011/10/TransactionRequestSpecification/Request/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://checkout.buckaroo.nl/PaymentEngine/2011/10/TransactionRequestSpecification/Request/">
  <xs:element name="TransactionRequestSpecification" type="tns:Body"/>
  <xs:complexType name="Body">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Services" type="tns:ArrayOfRequestedService"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRequestedService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestedService" nillable="true" type="tns:RequestedService"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RequestedService">
    <xs:attribute name="Name" type="xs:string"/>
    <xs:attribute name="Version" type="xs:int" use="required"/>
  </xs:complexType>
</xs:schema>